.btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:visited {
  background-color: #7d35e3;
  color: #fff;
}

.btn-purple:hover {
  background-color: #53199b;
}

.btn-magenta, .btn-magenta:hover, .btn-magenta:active, .btn-magenta:visited {
  background-color: #ad42cb;
  color: #fff;
}

.btn-magenta:hover {
  background-color: #a43e9f;
}

.alert-purple {
  background-color: #53199b;
  color: #fff;
  border: 1px solid #6b39ab;
}

.purple {
  color: #53199b;
}